.page {
  width: 100%;
}

.messageBox {
  border: 0.22rem solid #2C83FB;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.3rem
}

.mainText {
  color: #1F76F0;
  font-family: 'Poppins';
  font-size: 3.5rem;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
}

.asideContent {
  display: flex;
  flex-direction: column;
}